<?xml version="1.0" encoding="UTF-8" ?>
<!--
 ~ Author:  yingchengpeng
 ~ Date: 2018/08/08
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="User">
    <resultMap id="UserMap" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="nick_name" property="nickName"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>

    </resultMap>

    <sql id="tb">
        `sky_user`
    </sql>

    <sql id="cols_all">
        `id`, <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">
        `name`, `nick_name`, `mobile`, `email`, `password`, `salt`, `status`, `created_at`, `updated_at`
    </sql>

    <sql id="vals">
        #{name}, #{nickName}, #{mobile}, #{email}, #{password}, #{salt}, #{status}, now(), now()
    </sql>

    <sql id="criteria">
        <where>
            <if test="id != null">AND `id` = #{id}</if>
            <if test="name != null">AND `name` = #{name}</if>
            <if test="nickName != null">AND `nick_name` = #{nickName}</if>
            <if test="mobile != null">AND `mobile` = #{mobile}</if>
            <if test="email != null">AND `email` = #{email}</if>
            <if test="status != null">AND `status` = #{status}</if>

        </where>
    </sql>

    <sql id="update_criteria">
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="nickName != null">`nick_name` = #{nickName},</if>
            <if test="mobile != null">`mobile` = #{mobile},</if>
            <if test="email != null">`email` = #{email},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="status != null">`status` = #{status},</if>

            updated_at = now()
        </set>
    </sql>


    <select id="findById" parameterType="long" resultMap="UserMap">
        SELECT
        <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE `id` = #{id} LIMIT 1
    </select>

    <select id="findByIds" parameterType="list" resultMap="UserMap">
        SELECT
        <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE `id` IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="list" parameterType="map" resultMap="UserMap">
        SELECT
        <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <include refid="criteria"/>
    </select>

    <insert id="create" parameterType="User" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO <include refid="tb"/>
        (<include refid="cols_exclude_id"/>)
        VALUES
        (<include refid="vals"/>)
    </insert>

    <update id="update" parameterType="User">
        UPDATE
        <include refid="tb"/>
        <include refid="update_criteria"/>
        WHERE `id` = #{id}
    </update>

    <!-- 计数 -->
    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM
        <include refid="tb"/>
        <include refid="criteria"/>
    </select>

    <!-- 分页查询 -->
    <select id="paging" parameterType="map" resultMap="UserMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <include refid="criteria"/>
        ORDER BY `id` DESC LIMIT #{offset}, #{limit}
    </select>

    <delete id="delete" parameterType="long">
        delete from <include refid="tb"/>
        where `id` = #{id}
    </delete>

    <select id="findByName" parameterType="String" resultMap="UserMap">
        SELECT
        <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE `name` = #{name} LIMIT 1
    </select>
</mapper>